spring:
    datasource:
        url: jdbc:postgresql://localhost:5433/expense_db
        username: postgres
        password: pass
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
        database-platform: org.hibernate.dialect.PostgreSQLDialect


    application:
        name: ExpenseService

server:
    port: 8082

logging:
    level:
        org.springframework: DEBUG
        com.financemanagerai: DEBUG