spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/finance_db
    username: postgres
    password: pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # for dev; later switch to validate/migrations
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: user-service

server:
  port: 8081

logging:
  level:
    org.springframework: DEBUG
    com.financemanagerai: DEBUG